body{
  background-color: brown;
  text-align: center;

}
h1{
  font-size: 3em;
  /* width: fit-content;
  height: fit-content;
  margin: auto; */
  color: burlywood;
} 

h3{
  text-align: end;
}

h1:hover{
  transform: scale(1.5);
}


